
/* -------------------------------------- */
.row1, .row2, .row3, .col1, .col2, .col3, .cross1, .cross2{
  width: 5px;
}
/* -------------------------------- */
.row1, .row2, .row3{
  transform: translate(-50%, -50%) rotate(90deg);
}
.row1{
  top: 32px;
}
.row3{
  top: 200px;
}
/* ---------------------------------- */
.col1, .col2, .col3{
  transform: translate(-50%, -50%);
}
.col1{
  left: 32px;
}
.col3{
  left: 200px;
}
/* --------------------------------- */
.cross1, .cross2{
  height: 140%;
}
.cross1{
  transform: translate(-50%, -50%) rotate(-45deg);
}
.cross2{
  transform: translate(-50%, -50%) rotate(45deg);
}